################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC2019/**/bin/Debug/net8.0
/AoC2019/**/obj
/AoC2019/**/input.txt
/AoC2019/**/test.txt
/.vs
/AoC2019/.vs
